.tiptap-content .ProseMirror {
  outline: none !important;
}

.tiptap-content .ProseMirror > * + * {
  margin-top: 0.75em;
}

.tiptap-content .ProseMirror ul,
.tiptap-content .ProseMirror ol {
  padding: 0 1rem;
}

.tiptap-content .ProseMirror h1,
.tiptap-content .ProseMirror h2,
.tiptap-content .ProseMirror h3,
.tiptap-content .ProseMirror h4,
.tiptap-content .ProseMirror h5,
.tiptap-content .ProseMirror h6 {
  line-height: 1.1;
}

.tiptap-content .ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}

.tiptap-content .ProseMirror pre {
  background: #0D0D0D;
  color: #FFF;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap-content .ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap-content .ProseMirror img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.tiptap-content .ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.tiptap-content .ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
